.todos{
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 4px 4px 10px #ccc;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 20px;
}

.todo{
    font-size: 20px;
    color: #ccc;
    box-shadow: 2px 2px 10px #525252;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
}

@media(min-width:500px){
    .todos{
        width: 450px;
    }
}
